@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBlack";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/Roboto/Roboto-Mono.ttf") format("truetype");
}

@font-face {
  font-family: "ReenieBeanie";
  src: url("../fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf") format("truetype");
}
